{% extends 'Header.html' %}
{% include 'includes/applicationHeader.html' %}

{% block content %}
<div class="" id="outerdiv">

    <!-- User Sign-Up Section -->
    <div id="User_SignUp" class="containerOfLogin active">
        <div class="col-sm-12 row inputrow">
            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userFirstName">First Name: </label>
                <input type="text" id="userFirstName" class="userinputprop" name="first_name" title="first_name" required>
            </div>
            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userLastName">Last Name: </label>
                <input type="text" id="userLastName" class="userinputprop" name="last_name" required>
            </div>
        </div>
        <div class="col-sm-12 row inputrow" id="emailAndMob">
            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userEmail">Email: </label>
                <input type="email" id="userEmail" class="userinputprop" name="email" required>
            </div>
            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userMobileNo">Mobile No: </label>
                <input type="tel" id="userMobileNo" class="userinputprop" name="phone_no" pattern="[0-9]{10}"
                    maxlength="10" required>
            </div>
        </div>
        <div class="col-sm-12 row inputrow">
            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userPassword">Password: </label>
                <input type="password" id="userPassword" class="userinputprop" name="password" required>
            </div>
            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userCity">City: </label>
                <input type="text" id="userCity" class="userinputprop" name="city" required>
            </div>

            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label class="registrationLabel" for="userCity">Address</label>
                <input type="text" id="userAddress" class="userinputprop" name="address" required>
            </div>

            <div class="col-sm-5 row" style="margin-left: 30px;">
                <label for="userTypeDropdown" class="labelProp" id="loginTypeLabel">Select Login Type</label>
                <select id="usetType" class="userinputprop">
                    <option>Select</option>
                    <option value="seller">Seller</option>
                    <option value="buyer">Buyer</option>
                    <!-- <option value="admin">Admin</option> -->
                </select>
            </div>

        
        </div>
        <div>
            <button id="registrationSubmit">Submit</button> Already have an account? <strong
                id="toggleToLogin">Signin</strong>
        </div>
    </div>

    <!-- User Login Section -->
    <div id="User_Login" class="containerOfLogin">
        <div id="loginMainContainer">

            <div id="userTypeDropdownContainer" class="userinput row">
                <label for="userTypeDropdown" id="loginTypeLabel" class="labelProp">Select Login Type</label>
                <select id="usetTypeLogin" style=" width: 40%; margin-left: 10px; margin-bottom: 10px;   padding: 7px;">
                    <option>Select</option>
                    <option value="seller">Seller</option>
                    <option value="buyer">Buyer</option>
                    <!-- <option value="admin">Admin</option> -->
                </select>
            </div>
            <div class="userinput row">
                <label class="labelProp" for="userLoginEmail ">Email:</label>
                <input type="email" id="userLoginEmail" name="login_email" required>
            </div>
            <div class="userinput row">
                <label class="labelPropOne" for="userLoginPassword">Password:</label>
                <input type="password" id="userLoginPassword" name="login_password" required>
            </div>
            <button id="loginSubmit">Submit</button> Don't have an account? <strong id="toggleToSignup">Sign up</strong>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

<script>
    $(document).ready(function () {
        register_login_events();
        // $('#tabs li a:not(:first)').addClass('inactive');
        // $('.container').hide();
        // $('.container:first').show();

        // // Initialize datepicker for date inputs
        // $("#dobDate, #endDate, #admisssionDate").datepicker({
        //     dateFormat: 'yy-mm-dd',
        //     changeMonth: true,
        //     changeYear: true
        // });

        $(document).ready(function () {
            function toggleForms() {
                $("#User_SignUp").toggleClass("active");
                $("#User_Login").toggleClass("active");
            }

            $("#toggleToLogin").click(function () {
                toggleForms();
            });

            $("#toggleToSignup").click(function () {
                toggleForms();
            });
        });

        // $(".UserSignUpLabel").click(function () {
        //         $("#User_SignUp").addClass("active");
        //         $("#User_Login").removeClass("active");
        //     });

        //     $(".UserLoginLabel").click(function () {
        //         $("#User_Login").addClass("active");
        //         $("#User_SignUp").removeClass("active");
        //     });

    });
</script>
{% endblock %}