{% extends 'Header.html' %}
{% include 'includes/applicationHeader.html' %}

{% block content %}

<div class="containerofRent">
    <h2 class="rentTitle">Rent Item </h2>
    
        <div class="form-group">
            <label class="lableofrent"  for="product_name">Product Name</label>
            <input type="text" id="product_name" name="product_name" required>
        </div>
        <div class="form-group">
            <label class="lableofrent" for="key_feature">Key Features</label>
            <input type="text" id="key_feature" name="key_feature">
        </div>
        <div class="form-group">
            <label class="lableofrent" for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
            <label class="lableofrent" for="category">Category</label>
            <select id="category" name="category" required>
                <option value="Furnitur">Furniture</option>
                <option value="Electronics">Electronics</option>
                <option value="Outdoor">Outdoor </option>
                <option  value="Fitness">Fitness </option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label class="lableofrent" for="brand">Brand</label>
            <input type="text" id="brand" name="brand" required>
        </div>
        <div class="form-group">
            <label class="lableofrent" for="model">Model</label>
            <input type="text" id="model" name="model" required>
        </div>
        <div class="form-group">
            <label class="lableofrent" for="rental_price_per_day">Rental Price per Day</label>
            <input type="number" id="rental_price_per_day" name="rental_price_per_day" step="0.01" required>
        </div>
        <div class="form-group">
            <label class="lableofrent" for="availability_status">Availability Status</label>
            <select id="availability_status" name="availability_status">
                <option value="true" selected>Available</option>
                <option value="false">Rented</option>
            </select>
        </div>
        <div id="userProfileImageContainer" class="col-sm-4">
            <label> Upload Image </label>
            <input type="file" id="productImage">
              
        </div>
        <div class="form-group">
            <label class="lableofrent" for="location">Location</label>
            <input type="text" id="location" name="location" required>
        </div>
        <input class="hidden" value="{{user_id}}" id="userId" name="userId">
        <button id="rentBtn" type="submit">Submit Rent Item</button>
</div>


{% include 'includes/footer.html' %}
<script>
    var userEmail = "{{ user_info | safe }}";
    console.log(userEmail)

    // document.getElementById('rentBtn').addEventListener('click', async (event) => {
    //     event.preventDefault(); // Prevent default form submission

    //     const formData = new FormData();
    //     formData.append('product_name', document.getElementById('product_name').value);
    //     formData.append('key_feature', document.getElementById('key_feature').value);
    //     formData.append('description', document.getElementById('description').value);
    //     formData.append('category', document.getElementById('category').value);
    //     formData.append('brand', document.getElementById('brand').value);
    //     formData.append('model', document.getElementById('model').value);
    //     formData.append('rental_price_per_day', document.getElementById('rental_price_per_day').value);
    //     formData.append('availability_status', document.getElementById('availability_status').value === 'true');
    //     formData.append('location', document.getElementById('location').value);
    //     formData.append('user_id', document.getElementById('userId').value);
    //     formData.append('image', document.getElementById('productImage').files[0]);

    //     try {
    //         const response = await fetch('http://127.0.0.1:20000/rent_item/', {
    //             method: 'POST',
    //             body: formData
    //         });

    //         if (!response.ok) {
    //             throw new Error('Failed to submit rent item');
    //         }

    //         const result = await response.json();
    //         alert("form submitted successfully");

    //     } catch (error) {
    //         console.error('Error:', error);
    //         alert('Error submitting rent item');
    //     }
    // });
    $(document).ready(function () {
        register_login_events();
    });
</script>
{% endblock %}